.wp-block-query.uses-ajax > * {
	opacity: 1;
	transition: opacity .5s;
}
.wp-block-query.uses-ajax.is-loading{
	position: relative;
}
	.wp-block-query.uses-ajax.is-loading > * {
		opacity: 0.4;
	}
.wp-block-query.is-loading::after {
	content: '';
	color: var(--cmls_base-color-brand, #000);
	font-size: 2em;
	text-indent: -9999em;
	overflow: hidden;
	width: 1.05em;
	height: 1.05em;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) translateZ(0);
	animation: wp-query-loading-spinner 1.5s infinite ease, wp-query-loading-round 1.5s infinite ease;
}

@keyframes wp-query-loading-spinner {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes wp-query-loading-round {
  0% { transform: translateX(-50%) translateY(-50%) rotate(0deg) }
  100% { transform: translateX(-50%) translateY(-50%) rotate(360deg) }
}