$icon_placeholder: "\f128";

.wp-block-cumulus-gutenberg-big-feature-square {
	position: relative;

	.g-bf-square_container {
		width: 100%;
		height: 100%;
	}

	&:hover .g-bf-square_container {
		box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color, blue);
		padding: 2px;
	}

	.g-bf-notice-icons {
		display: block;
		background-color: rgba(255, 255, 255, 0.5);
		color: rgba(255, 0, 0, 0.75);
		font-size: 1rem;
		line-height: 1;
		padding: 5px;
		position: absolute;
		right: 5px;
		bottom: 5px;
		pointer-events: none;
	}

	&.is-placeholder {
		.g-bf-placeholder {
			margin: 1px;
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			background-image: linear-gradient(
				45deg,
				rgba(0, 0, 0, 0.15) 12.5%,
				transparent 12.5%,
				transparent 50%,
				rgba(0, 0, 0, 0.15) 50%,
				rgba(0, 0, 0, 0.15) 62.5%,
				transparent 62.5%,
				transparent 100%
			);
			background-size: 5.66px 5.66px;
		}

		.g-bf-square_container::before {
			content: $icon_placeholder;
			display: block;
			background-color: rgba(255, 255, 255, 0.5);
			color: rgba(0, 0, 0, 0.15);
			font-family: "dashicons";
			font-size: 1em;
			line-height: 1;
			font-weight: 400;
			font-style: normal;
			speak: never;
			text-decoration: inherit;
			text-transform: none;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-align: center;
			padding: 5px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;
		}
	}
}
