.wp-block-cumulus-gutenberg-anchor {
	background-color: rgba(0,0,0,0.10);
	border-radius: 2px;
	color: rgba(0,0,0,0.6);
	padding: .5em;
	text-align: left;
	font-weight: 300;

	& > div {
		display: flex;
		gap: .5em;
		align-items: center;
		line-height: 1;
	}

	svg {
		width: 1em;
		height: 1em;
	}
}