
.cgcg-icon-plus:before { content: '\e802'; } /* '' */
.cgcg-icon-minus:before { content: '\e803'; } /* '' */
.cgcg-icon-down-open:before { content: '\e804'; } /* '' */
.cgcg-icon-up-open:before { content: '\e805'; } /* '' */
